/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* coffee-home-css*/

.container {
    max-width: 1280px;
    margin-right:80px ;
    margin-left: 80px;
}

/* header part*/

.header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.header-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-logotip-a   {
    margin-top: 43.56px;
    width: 236px;
    height: 26px;
}

.header-logotip-img {
    width: 236px;
    height: 26px;
}

.header-list-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-list-li-home {
    margin: 0;
    margin-left: 760.9px;
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(131, 136, 143, 1);
}

.header-list-text-home  {
    margin: 0;
    padding: 0;
    width: 34px;
    height: 15px;
}

.header-list-li-about   {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(131, 136, 143, 1);
    margin-top: 50px;
    margin-left: 33px;
}

.header-list-text-about  {
    margin: 0;
    padding: 0;
    width: 62px;
    height: 15px;
}

.header-list-li-create  {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(131, 136, 143, 1);
    margin-left: 32px;
    margin-top: 50px;
}

.header-list-text-create  {
    margin: 0;
    padding: 0;
    height: 15px;
    width: 121px;
}

/* create-plan part */

.create-plan    {
    margin-top: 120px;
}

.create-plan-div    {
    background-color: #A2A2A2;
    width: 1280px;
    height: 600px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.create-plan-title  {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
    width: 493px;
    height: 145px;
    margin: 0;
    color: #FEFCF7;
    margin-top: 117px;
    margin-left: 85px;
}

.create-plan-text   {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 78px;
    width: 445px;
    margin: 0;
    margin-top: 32px;
    color: #FEFCF7;
    margin-left: 85px;
}

.create-plan-btn    {
    margin-left: 85px;
    margin-top: 56px;
    padding: 16px 31px;
    background-color: #0E8784;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 18px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: #FEFCF7;
    text-decoration: none;
    display: inline-block;
}

/* our-collection part*/

.our-collection {
    margin-top: 136px;
}

.our-collection-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.our-collection-img{
    z-index: -1;
    position: absolute;
    margin-left: 85px;
    margin-right: 84px;
}

.our-collection-gran-espresso-div   {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.our-collection-gran-espresso-img   {
    width: 255px;
    height: 193px;
    margin-top: 126px;
    margin-left: 85px;
}

.our-collection-gran-espresso-title {
    margin: 0;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    font-weight: 900; 
    color: #333D4B;
    margin-top: 71.55px;
    margin-left: 85px;
}

.our-collection-gran-espresso-text  {
    margin: 0;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400; 
    color: #333D4B;
    margin-top: 24px;
    margin-left: 85px;
}

.our-collection-planalto-div    {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.our-collection-planalto-img    {
    width: 256px;
    height: 193px;
    margin-top: 126px;
    margin-left:30px ;
}

.our-collection-planalto-title {
    margin: 0;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    font-weight: 900; 
    color: #333D4B;
    margin-top: 71.55px;
    margin-left: 30px;
}

.our-collection-planalto-text  {
    margin: 0;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400; 
    color: #333D4B;
    margin-top: 24px;
    margin-left: 30px;
}


.our-collection-piccollo-div    {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.our-collection-piccollo-img    {
    width: 256px;
    height: 193px;
    margin-top: 126px;
    margin-left: 28px
}

.our-collection-picollo-title {
    margin: 0;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    font-weight: 900; 
    color: #333D4B;
    margin-top: 71.55px;
    margin-left: 30px;
}

.our-collection-picollo-text  {
    margin: 0;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400; 
    color: #333D4B;
    margin-top: 24px;
    margin-left: 30px;
}

.our-collection-danche-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.our-collection-danche-img{
    width: 234.82px;
    height: 177.48px;
    margin-top: 142px;
    margin-left: 51px;
    margin-right: 84px;
}

.our-collection-danche-title {
    margin: 0;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-family: 'Fraunces', serif;
    font-weight: 900; 
    color: #333D4B;
    margin-top: 71.06px;
    margin-left: 30px;
}

.our-collection-danche-text  {
    margin: 0;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400; 
    color: #333D4B;
    margin-top: 24px;
    margin-left: 30px;
}

/*why-choose-us*/

.why-choose-us   {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 200.75px;
}

.why-choose-us-div  {
    background-color: #2C343E;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 577px;
    width: 1280px;
    z-index: -1;
}

.why-choose-us-title    {
    margin-top: 100px;
    width: 329px;
    height: 48px;
    margin-right: 475.5px;
    margin-left: 475.5px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    color: #FEFCF7;
}

.why-choose-us-text {
    margin-top: 32px;
    margin-left: 370px;
    margin-right: 370px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #FEFCF7;
}

.why-choose-us-best-quality-div {
    margin-top: 86px;
    margin-left: 85px;
    width: 350px;
    height: 382px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #0E8784;
}

.why-choose-us-best-quality-img {
    margin-top: 72px;
    margin-left: 136px;
}

.why-choose-us-best-quality-title   {
    margin-top: 56px;
    margin-left: 47px;
    margin-right: 48px;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    text-align: center;
}

.why-choose-us-best-quality-text    {
    margin-top: 24px;
    margin-left: 47px;
    margin-right: 48px;
    text-align: center;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
}

.why-choose-us-exclusive-benefits-div {
    margin-top: -384px;
    margin-left: 482px;
    width: 350px;
    height: 382px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #0E8784;
}

.why-choose-us-exclusive-benefits-img {
    margin-top: 72px;
    margin-left: 135px;
}

.why-choose-us-exclusive-benefits-title {
    margin-top: 56px;
    margin-left: 47px;
    margin-right: 48px;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    text-align: center;
}

.why-choose-us-exclusive-benefits-text  {
    margin-top: 24px;
    margin-left: 47px;
    margin-right: 48px;
    text-align: center;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
}

.why-choose-us-free-shipping-div {
    margin-top: -384px;
    margin-left: 872px;
    width: 350px;
    height: 382px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #0E8784;
}

.why-choose-us-free-shipping-img {
    margin-top: 83px;
    margin-left: 136px;
}

.why-choose-us-free-shipping-title  {
    margin-top: 67px;
    margin-left: 47px;
    margin-right: 48px;
    width: 255px;
    height: 32px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    text-align: center;
}

.why-choose-us-free-shipping-text   {
    margin-top: 24px;
    margin-left: 47px;
    margin-right: 48px;
    text-align: center;
    width: 255px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
    color: #FEFCF7;
}

/* how-it-works*/

.how-it-works-oval-img  {
    z-index: 1;
    margin-left: 30px;
}

.how-it-works-ovalino-img  {
    z-index: 1;
    margin-left: 349px;
}

.how-it-works-ovaler-img  {
    z-index: 1;
    margin-left: 349px;
}

.how-it-works-line-img  {
    z-index: -1;
    position: absolute;
    left: 120px;
    top:2757px;
}

.how-it-works   {
    margin-top: 468px;
}

.how-it-works-title {
    color: #83888F;
    font-family: 'Fraunces', serif;
    font-size: 24px;
    font-weight: 900;
    margin-left: 85px;
    width: 255px;
    height: 32px;
    margin-bottom: 80px;
}

.how-it-works-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 67px
}

.how-it-works-pick-div  {
    width: 285px;
    height: 355px;
}

.how-it-works-pick-num  {
    font-size: 72px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #FDD6BA;
    margin-top: 0px;
    margin-bottom: 0;
}

.how-it-works-pick-title    {
    font-size: 32px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    margin-top: 38px;
    color: #333D4B;
    margin-bottom: 0;
}

.how-it-works-pick-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', serif;
    color: #333D4B;
    margin-top: 42px;
    margin-bottom: 0;
}

.how-it-works-choose-div    {
    width: 285px;
    height: 355px;
    margin-bottom: 0;
    margin-left: 95px;
}

.how-it-works-choose-num    {
    font-size: 72px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #FDD6BA;
    margin-top: 0px;
    margin-bottom: 0;
}

.how-it-works-choose-title  {
    font-size: 32px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #333D4B;
    margin-top: 38px;
    margin-bottom: 0;
}

.how-it-works-choose-text   {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', serif;
    color: #333D4B;
    margin-top: 42px;
    margin-bottom: 0;
}

.how-it-works-receive-div   {
    width: 285px;
    height: 355px;
    margin-bottom: 0;
    margin-left: 95px;
}

.how-it-works-receive-num   {
    font-size: 72px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #FDD6BA;
    margin-top: 0px;
    margin-bottom: 0;
}

.how-it-works-receive-title {
    font-size: 32px;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    color: #333D4B;
    margin-top: 38px;
    margin-bottom: 0;
}

.how-it-works-receive-text  {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Barlow', serif;
    color: #333D4B;
    margin-top: 42px;
    margin-bottom: 0;
}

.how-it-works-btn    {
    margin-top: 56px;
    width: 217px;
    height: 56px;
    background-color: #0E8784;
    border: 1px solid transparent;
    border-radius: 6px;
}

.how-it-works-btn-text   {
    font-size: 18px;
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    text-align: center;
}

/* footer part */

.footer {
    margin-bottom: 88px;
    background-color: #2C343E;
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-logo-a  {
    margin-left: 85px;
    margin-top: 47px;
    margin-bottom: 47px;
    width: 236px;
    height: 26px;
}

.footer-logo-img    {
    width: 236px;
    height: 26px;
}

.footer-list-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-list-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list-li-home    {
    margin-left: 102.9px;
    margin-top: 53.44px;
    margin-bottom: 51.56px;
}

.footer-list-text-home  {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(131, 136, 143, 1);
    height: 15px;
    width: 34px;
}

.footer-list-li-about   {
    margin-left: 33px;
    margin-top: 53.44px;
    margin-bottom: 51.56px;
}

.footer-list-text-about {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(131, 136, 143, 1);
    width: 62px;
    height: 15px;
}

.footer-list-li-create  {
    margin-top: 53.44px;
    margin-bottom: 51.56px;
    margin-left: 32px;
    margin-right: 369.1px;
}

.footer-list-text-create    {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: rgba(131, 136, 143, 1);
    width: 121px;
    height: 15px;
}

.footer-icons-div   {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-facebook-icon-img{
    margin-top: 58px;
    margin-bottom: 49px;
}

.footer-twitter-icon-img    {
    margin-top: 60.25px;
    margin-bottom: 51.25px;
    margin-left: 24px;
}

.footer-instagram-icon-img  {
    margin-top: 58px;
    margin-bottom: 49px;
    margin-left: 24px;
    margin-right: 95px;
}